<script>
export default {
    name: 'Header',
    computed:{
      isLoggedIn: function() {
        if(localStorage.getItem('token')) {
          return true;
        } else {
          return false;
        }
      }
    },
    methods: {
    async logoutUser() {
    try {
          await this.$store.dispatch("userModule/userLogout");
        } catch (error) {
            console.log(error);
        }
        this.$toast('ok');
    },
    loginUser() {
      this.$router.push({name:'login'});
    }
  }
}
</script>

<template>
  <main>
  <ui-top-app-bar type="fixed">
   ToDo App
  <template v-if="isLoggedIn" #toolbar="{ toolbarItemClass }">
    <ui-icon-button :class="logout" @click="logoutUser()">logout</ui-icon-button>
  </template>
  <template v-if="!isLoggedIn" #toolbar="{ toolbarItemClass }">
    <ui-icon-button :class="login" @click="loginUser()">login</ui-icon-button>
</template>
  </ui-top-app-bar>
  </main>
</template>
<style>
header{
    position:fixed;
    top:0;
}
</style>
