<template>
  <main> 
<div class="row">
<div class="col-md-6">
  <h2>Todo Items</h2>
</div>  
<div class="col-md-2 mb-2">
  <ui-button raised @click="addNewItem()">Add New Todo</ui-button>
</div>

<div class="col-md-4 mb-2">
  <ui-textfield class="w-100" v-model="search" 
    input-type="text" 
    >
      Search by title
    </ui-textfield>
</div>
</div>
<ui-table
  v-model="selectedRows"
  fullwidth
  :data="data"
  :thead="thead"
  :tbody="tbody"
  row-checkbox
  selected-key="id"
>
  <template #actions="{ data }">
    <ui-icon @click="viewTodoItem(data)">description</ui-icon>
    <ui-icon @click="editTodoItem(data)">edit</ui-icon>
    <ui-icon @click="deleteTodoItem(data)">delete</ui-icon>
  </template>

  <ui-pagination
    v-model="page"
    :total="itemsCount"
    show-total
    @change="onPage"
  ></ui-pagination>
</ui-table>
  </main>
</template>
<script>
import {mapGetters} from 'vuex';
export default {
  data() {
    return {
      search : '',
      data:[],
      thead: [
        {
          value: 'ID',
          sort: 'asc',
          columnId: 'id'
        },
        {
          value: 'Title',
          sort: 'none',
          columnId: 'title'
        },
        {
          value: 'Description',
          sort: 'none',
          columnId: 'description'
        },
        'Actions',
      ],
      tbody: [
        'id',
        'title',
        'description',
        {
          slot: 'actions'
        }
      ],
      selectedRows: [],
      page: 1
    };
  },
  computed: {
   ...mapGetters({
      todoItems: "todoModule/items",
      itemsCount: "todoModule/itemsCount",
   })
  }, 
  async created() {
     await this.$store.dispatch("todoModule/ToDoList",{page:this.page});
     this.data = JSON.parse(JSON.stringify(this.todoItems));
  },
  watch:{
    page:async function(){
      await this.$store.dispatch("todoModule/ToDoList",{page:this.page});
     this.data = JSON.parse(JSON.stringify(this.todoItems));
    },
    search: async function() {
      await this.$store.dispatch("todoModule/TodoSearch",{search:this.search});
      this.data = JSON.parse(JSON.stringify(this.todoItems));
    }
  },
  methods: {
    show(data) {
      console.log(data);
    },
    addNewItem(){
      this.$router.push({name:'add'});
    },
    async editTodoItem(data) {
      this.$router.push({name:'update',params:{id:data.id}});
    },
    async viewTodoItem(data) {
      this.$router.push({name:'view',params:{id:data.id}});
    },
    async deleteTodoItem(data) {
      await this.$store.dispatch("todoModule/DeleteTodo",{id:data.id});
      await this.$store.dispatch("todoModule/ToDoList",{page:this.page});
      this.data = JSON.parse(JSON.stringify(this.todoItems));
      this.$toast('Deleted Successfully');

    }
  }
};

</script>