<template>
  <main>
  <div class="col-md-4 offset-md-4">
<ui-form item-margin-bottom="10">
  <ui-form-field class="form-item">
    <ui-textfield class="w-100" v-model="formData.title" 
    input-type="title" 
    helper-text-id="title-helper-text">
    Title
    </ui-textfield>
    <ui-textfield-helper
      id="title-helper-text"
      :valid-msg="validMsg.title"
    ></ui-textfield-helper>
  </ui-form-field>
  <ui-form-field class="form-item">
    <ui-textfield
      class="w-100"
      v-model="formData.description"
      input-type="description"
      helper-text-id="description-helper-text">
    Description
    </ui-textfield>
    <ui-textfield-helper
      id="description-helper-text"
      :valid-msg="validMsg.description"
    ></ui-textfield-helper>
  </ui-form-field>
  <ui-form-field class="form-item form-actions">
    <ui-button raised @click="onSubmit">Update Todo</ui-button>
  </ui-form-field>
</ui-form>
</div>
  </main>
</template>

<script>
import { useValidator } from 'balm-ui';
import { mapGetters } from 'vuex';

const validations = [
  {
    key: 'title',
    label: 'Title',
    validator: 'required,title'
  },
  {
    key: 'description',
    label: 'Password',
    validator: 'required,description',
  },
];


export default {
  data() {
    return {
      balmUI: useValidator(),
      validations,
      formData: {
        title: '',
        description: '',
      },
      validMsg: {}
    };
  },
  computed:{
    ...mapGetters({
      item: 'todoModule/todoItem'
    })
  },
  async created() {
  await this.$store.dispatch("todoModule/ViewToDo",{id:this.$route.params.id});
  this.formData.title = this.item.title;
  this.formData.description = this.item.description;
},
  methods: {
    async onSubmit() {
      let result = this.balmUI.validate(this.formData);
      let { valid, validMsg } = result;
      this.validMsg = validMsg;

      if (valid) {
        try {
            await this.$store.dispatch("todoModule/UpdateToDo", {id:this.$route.params.id,title:this.formData.title,description:this.formData.description});
            this.$toast('item updated successfully');
            this.$router.push({name:'todo'});
        } catch (error) {
            console.log(error);
        }
        // this.$toast('udpated successfully');
      }
    }
  }
};

</script>