<template>
  <main>
  <div class="col-md-4 offset-md-4">
<ui-form item-margin-bottom="10">
  <ui-form-field class="form-item">
    <ui-textfield class="w-100" v-model="item.title" 
    input-type="title" 
    helper-text-id="title-helper-text" disabled>
    Title
    </ui-textfield>
  </ui-form-field>
  <ui-form-field class="form-item">
    <ui-textfield
      class="w-100"
      v-model="item.description"
      input-type="description"
      helper-text-id="description-helper-text"
      disabled>
    Description
    </ui-textfield>
  </ui-form-field>
</ui-form>
</div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  data() {
    return {
    };
  },
  computed:{
    ...mapGetters({
      item: 'todoModule/todoItem'
    })
  },
async created() {
  await this.$store.dispatch("todoModule/ViewToDo",{id:this.$route.params.id});
}
};

</script>