<template>
    <main>
    <div class="col-md-4 offset-md-4">
        <ui-card>
            
            <h1 class="text-center">Welcome</h1>

            <p class="text-center">To access todo please login first</p>

   
        </ui-card>  
    </div>
    </main>
  </template>
  
  <script>
  export default {
    data() {
      return {
      };
    },

  };
  
  </script>