<template>
  <main>
  <div class="col-md-4 offset-md-4">
<ui-form item-margin-bottom="10">
  <ui-form-field class="form-item">
    <ui-textfield class="w-100" v-model="formData.email" 
    input-type="email" 
    helper-text-id="email-helper-text">
      Email
    </ui-textfield>
    <ui-textfield-helper
      id="email-helper-text"
      :valid-msg="validMsg.email"
    ></ui-textfield-helper>
  </ui-form-field>
  <ui-form-field class="form-item">
    <ui-textfield
      class="w-100"
      v-model="formData.password"
      input-type="password"
      helper-text-id="password-helper-text"
    >
      Password
    </ui-textfield>
    <ui-textfield-helper
      id="password-helper-text"
      :valid-msg="validMsg.password"
    ></ui-textfield-helper>
  </ui-form-field>
  <ui-form-field class="form-item form-actions">
    <ui-button raised @click="onSubmit">Login</ui-button>
    <ui-button class="ml-2" raised @click="Register">Regiser</ui-button>

  </ui-form-field>
</ui-form>
</div>
  </main>
</template>

<script>
import { useValidator } from 'balm-ui';

const validations = [
  {
    key: 'email',
    label: 'Email',
    validator: 'required, email',
    email: {
      validate(value) {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value);
      },
      message: 'Email is invalid'
    },
  },
  {
    key: 'password',
    label: 'Password',
    validator: 'required, password, minRule, maxRule',
    minRule: {
      validate(value) {
        return value.trim().length >= 6;
      },
      message: '%s minLength >= 6'
    },
    maxRule: {
      validate(value) {
        return value.trim().length <= 8;
      },
      message: '%s maxLength <= 8'
    }
  },
];


export default {
  data() {
    return {
      balmUI: useValidator(),
      validations,
      formData: {
        email: '',
        password: '',
      },
      validMsg: {}
    };
  },
  methods: {
    Register() {
      this.$router.push({name: 'register'});
    },
    async onSubmit() {
      let result = this.balmUI.validate(this.formData);
      let { valid, validMsg } = result;
      this.validMsg = validMsg;

      if (valid) {
        try {
            console.log(this.formData);
            let response = await this.$store.dispatch("userModule/userLogin", {email:this.formData.email,password:this.formData.password});
            console.log(response);
            if(response == 403) {
            this.$toast('Some thing went wrong');

           }
          } catch (error) {
            console.log(error);
        }
      }
    }
  }
};

</script>