<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Header from './components/Header.vue'
</script>
<template>
  <div>
  <Header />
  <div class="container-fluid layout">
  <RouterView />
  </div>
  </div>
</template>
<style>
.layout {
  margin-top:100px;
}
</style>
